<div class="fixed top-0 z-50 right-0 left-0 bg-[#69f0ae] text-gray-800">

  <div class="h-16 flex items-center justify-between">

      <div>
          <div>
        <img class="w-8" src="/ecommerce-angular/src/assets/logo.jpg" alt="Shoppy">
      </div>

      <div class="">
        <div class="flex space-x-4">
          <a routerLink="/" class="text-gary-800">
            Shoppy
          </a>

          <div>
            <button (click)="openNavbarContent('men')" mat-button>Men</button>
          </div>

          <div>
            <button (click)="openNavbarContent('women')" mat-button>Women</button>
          </div>

        </div>
      </div>
      </div>

      <div>
        <img class="w-8" src="/ecommerce-angular/src/assets/logo.jpg" alt="Shoppy">
      </div>

      <div class="">
        <div class="flex space-x-4">
          <a routerLink="/" class="text-gary-800">
            Shoppy
          </a>

          <div>
            <button (click)="openNavbarContent('men')" mat-button>Men</button>
          </div>

          <div>
            <button (click)="openNavbarContent('women')" mat-button>Women</button>
          </div>

        </div>
      </div>
  </div>
</div>
