<div class="box">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:col-span-1">
      <div class="w-[3rem] h-[3rem]">
        <img
        class="w-full h-full rounded-full"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"alt="">
      </div>
    </div>
    <div class="col-span-6 lg:col-span-9">
      <div class="space-y-2">
        <div>
          <p class="font-semibold text-lg">
            Haj massoud
          </p>
          <p class="opacity-70">jun 25, 2025</p>
        </div>
        <div>
          <app-star-rating />
        </div>
        <p>
          nice product, i like red dress
        </p>
      </div>
    </div>
  </div>
</div>
