<div class="bg-white">
  <main class="px-4 sm:px-6 lg:px-40 py-10">
    <div class="flex items-baseline justify-between border-b border-gray-200 pb-6">
      <h1 class="text-4xl font-bold text-gray-900 flex items-center">
        <mat-icon aria-hidden="false" aria-label="Products icon" fontIcon="shopping_cart" class="mr-2"></mat-icon>
        Men's Pants
      </h1>
      <div class="flex items-center space-x-4">
        <div>
          <button mat-button [matMenuTriggerFor]="sortMenu" class="text-gray-700 hover:bg-gray-100">
            Sort
          </button>
          <mat-menu #sortMenu="matMenu">
            <button mat-menu-item  class="hover:bg-gray-100">Price: High to Low</button>
            <button mat-menu-item  class="hover:bg-gray-100">Price: Low to High</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider class="my-6"></mat-divider>
    <section class="pt-6">
      <div class="grid grid-cols-1 gap-8 gap-y-10 lg:grid-cols-4">
        <div class="bg-white p-4 rounded-lg shadow-sm">
          <div class="flex items-center justify-between mb-4">
            <p class="text-xl font-semibold text-gray-800">Filters</p>
            <mat-icon aria-hidden="false" aria-label="Filter icon" fontIcon="filter_list" class="text-gray-500"></mat-icon>
          </div>
          <form class="hidden lg:block">
            <mat-divider class="mb-4"></mat-divider>
            <div *ngFor="let item of filterData; let last=last">
              <div class="py-4">
                <span class="font-medium text-gray-700">{{item.name}}</span>
                <div class="pt-4" [id]="'filter-section-' + item.id">
                  <div class="scroll-py-4 max-h-60 overflow-y-auto">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center py-2">
                        <mat-checkbox [id]="'filter-' + option.value" [name]="item.id" [value]="option.value" (click)="handleMultipleSelectFilter(option.value,item.id)" class="text-gray-700">
                          <span class="text-sm text-gray-600">{{option.label}}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider *ngIf="!last" class="my-4"></mat-divider>
            </div>
            <div *ngFor="let item of singleFilterData; let last=last">
              <div class="py-4">
                <span class="font-medium text-gray-700">{{item.name}}</span>
                <div class="pt-4" [id]="'filter-section-' + item.id">
                  <div class="scroll-py-4 max-h-60 overflow-y-auto">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center py-2">
                        <mat-radio-button [id]="'filter-' + option.value" [name]="item.id" [value]="option.value" (click)="handleSingleSelectFilter(option.value,item.id)" class="text-gray-700">
                          <span class="text-sm text-gray-600">{{option.label}}</span>
                        </mat-radio-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <mat-divider *ngIf="!last" class="my-4"></mat-divider>
            </div>
          </form>
        </div>
        <div class="lg:col-span-3">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <ng-container *ngFor="let item of hommePantalon">
              <app-product-card [product]="item" />
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
