<div class="">
  <main class="px-4 sm:px-6 lg:px-40 pb-10">

    <div class="flex items-baseline justify-between border-gray-200 pb-6 pt-24">
      <h1 class="text-4xl font-bold text-black">Products</h1>
      <div class="flex items-center">
        <div>
          <button mat-button [matMenuTriggerFor]="sortMent">
            Sort
          </button>
          <mat-menu #sortMent="matMenu">
            <button mat-menu-item>Price: high-low</button>
            <button mat-menu-item>Price: low-high</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <section class="pt-6">
      <div class="grid grid-cols-1 gap-8 gap-y-10 lg:grid-cols-4">
        <div>
          <div class="flex items-center justify-between">
            <p class="text-lg">Filtres</p>
            <mat-icon aria-hidden="false" aria-label="Products icon" fontIcon="shopping_cart"></mat-icon>
          </div>
          <form class="hidden lg:block">
            <mat-divider></mat-divider>
            <div *ngFor="let item of filterData let last=last">
              <div class=" py-6">
                <span class="font-medium">{{item.name}}</span>
                <div class="pt-6" id="filter-section-0">
                  <div class="scroll-py-4">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center">
                        <mat-checkbox id="'filter - '+ option.value" [name]="item.id" [value]="option.value">
                          <span class="text-sm text-gray-500">
                            {{option.label}}
                          </span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
            <div *ngFor="let item of singleFilterData let last=last">
              <div class=" py-6">
                <span class="font-medium">{{item.name}}</span>
                <div class="pt-6" id="filter-section-0">
                  <div class="scroll-py-4">
                    <div *ngFor="let option of item.options">
                      <div class="flex items-center">
                        <mat-radio-button id="'filter - '+ option.value" [name]="item.id" [value]="option.value">
                          <span class="text-sm text-gray-500">
                            {{option.label}}
                          </span>
                        </mat-radio-button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </form>
        </div>
        <div class="lg:col-span-3">
          <div class="flex flex-wrap justify-evenly">
            <ng-container *ngFor="let item of hommePantalon">
              <app-product-card [product]="item"/>
            </ng-container>
          </div>
          Products
        </div>
      </div>
    </section>
  </main>
</div>
