<!-- <div class="productCart w-[18rem] m-3 transition-all cursor-pointer">
  <div class="h-[20rem]">
    <img class="h-full w-full" [src]="product.imageUrl"alt="">
  </div>
  <div class="textPart p-3 bg-[#0b0b0b]">
    <div>
      <p class="opacity-80">{{product.brand}}</p>
      <p>{{product.title}}</p>
      <p class="text-gray-600">{{product.color}}</p>
    </div>
    <div class="flex flex-wrap space-x-2 items-center">
      <p class="font-bold">DT {{product.discountedPrice}}</p>
      <p class="text-gray-600 line-through">DT {{product.price}}</p>
      <p class="text-green-600 font-semibold">{{product.discountPercent}} %</p>
    </div>
  </div>
</div> -->
<div class="productCart w-[18rem] m-3 transition-all cursor-pointer">
  <div class="h-[20rem]">
    <img class="h-full w-full object-cover" [src]="product.imageUrl" alt="{{product.title}}">
  </div>
  <div class="textPart p-3 bg-gray-900 text-white">
    <div class="space-y-1">
      <p class="opacity-80 text-sm">{{product.brand}}</p>
      <p class="text-lg font-medium">{{product.title}}</p>
      <p class="text-gray-300 text-sm">{{product.color}}</p>
    </div>
    <div class="flex flex-wrap space-x-2 items-center mt-2">
      <p class="font-bold text-lg">DT {{product.discountedPrice}}</p>
      <p class="text-gray-400 text-sm line-through">DT {{product.price}}</p>
      <p class="text-green-400 font-semibold text-sm">{{product.discountPercent}} %</p>
    </div>
  </div>
</div>
