<main class="mt-10">
  <div class="py-10 lg:grid grid-cols-3 lg:px-16 relative">
    <section class="lg:col-span-2 lg:px-5">
      <div class="box p-5 space-y-3 bg-white rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <ng-container *ngIf="cart">
          <div *ngFor="let product of cart; let last=last">
            <app-cart-item />
            <mat-divider *ngIf="!last" class="my-4 border-gray-200" />
          </div>
        </ng-container>
      </div>
    </section>

    <section class="px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
      <ng-container *ngIf="cart">
        <div class="box p-5 rounded-md bg-white shadow-md transition-all duration-300 hover:shadow-lg">
          <p class="font-bold text-gray-500 pb-4 text-lg">Price Details</p>
          <mat-divider class="border-gray-200"></mat-divider>
          <div class="space-y-3 py-4">
            <div class="flex justify-between pt-3">
              <span class="text-gray-600">Total Price</span>
              <span class="text-gray-800">TND 44.99</span>
            </div>
            <div class="flex justify-between pt-3">
              <span class="text-gray-600">Discount</span>
              <span class="text-green-700 font-medium">-TND 50.00</span>
            </div>
            <div class="flex justify-between pt-3">
              <span class="text-gray-600">Delivery Charges</span>
              <span class="text-green-700 font-medium">Free</span>
            </div>
            <div class="flex justify-between font-semibold text-lg border-t border-gray-200 pt-4">
              <span class="text-gray-800">Total Amount</span>
              <span class="text-green-700">TND 44.99</span>
            </div>
          </div>
          <button (click)="navigateToCheckout()" style="padding: 1.5rem;" class="text-lg mt-8 w-full bg-green-600 text-white rounded-lg hover:bg-green-700 transition-all duration-300" mat-raised-button>
            CHECKOUT
          </button>
        </div>
      </ng-container>
    </section>
  </div>
</main>
