/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.box{
  box-shadow: #000000 0px 5px 15px;
  padding: 15px;
}

.hideScrollbar::-webkit-scrollbar{
  display: none;
}
