<div>
 <div>
    <app-main-carousel/>
  </div>

  <div>
    <app-product-slider title="Women's dresses" [products]="femmeRobe"/>
    <app-product-slider title="Women's shoes" [products]="femmeShoes"/>
    <app-product-slider title="Men's denim" [products]="hommeDenim"/>
    <app-product-slider title="Homme Pantalon" [products]="hommePantalon"/>
    <app-product-slider title="Fillette Robe" [products]="filletteRobe"/>
    <app-product-slider title="Boy's Pants" [products]="garconPantalon"/>

  </div>
</div>
