<div class="grid grid-cols-1 gap-6 lg:grid-cols-12 px-5 lg:px-20 py-10">
  <div class="col-span-1 lg:col-span-5">
    <div class="rounded-lg shadow-md h-[32.2rem] overflow-y-auto hide-scrollbar bg-white p-5 transition-all duration-300 hover:shadow-lg">
      <div class="p-5 py-7">
        <div *ngFor="let item of adresses; let last=last" class="py-4 space-y-3 border-b border-gray-200 last:border-b-0">
          <app-address-card [address]="item" />
          <button style="padding: 1rem;" mat-raised-button color="accent" class="w-full rounded-md hover:bg-green-700 transition-all" (click)="handleCreateOrder(item)">
            Deliver Here
          </button>
          <mat-divider *ngIf="!last" class="my-4 border-gray-300"></mat-divider>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-1 lg:col-span-7">
    <div class="rounded-lg shadow-md p-6 bg-white transition-all duration-300 hover:shadow-lg">
      <form [formGroup]="myForm" (ngSubmit)="handleSubmit()" class="space-y-6">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="Enter First Name" autocomplete="given-name" type="text">
            </mat-form-field>
          </div>

          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder="Enter Last Name" autocomplete="family-name" type="text">
            </mat-form-field>
          </div>

          <div class="col-span-2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Address</mat-label>
              <textarea matInput formControlName="streetAddress" placeholder="Enter Address" autocomplete="street-address" rows="4"></textarea>
            </mat-form-field>
          </div>

          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="Enter City" autocomplete="address-level2" type="text">
            </mat-form-field>
          </div>

          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="Enter State" autocomplete="address-level1" type="text">
            </mat-form-field>
          </div>

          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="ZipCode" placeholder="Enter Zip Code" autocomplete="postal-code" type="text">
            </mat-form-field>
          </div>

          <div class="col-span-1">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="mobile" placeholder="Enter Phone Number" autocomplete="tel" type="tel">
            </mat-form-field>
          </div>

          <div class="col-span-2">
            <button class="w-full" style="padding: 1rem;" color="accent" type="submit" mat-raised-button class="rounded-md bg-green-600 text-white hover:bg-green-700 transition-all">
              Deliver Here
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
