<div class="mt-6">
 <div>
    <app-main-carousel/>
  </div>

  <div>
    <app-product-slider title="Women's dresses" [products]="femmeRobe"/>
    <app-product-slider title="Women's shoes" [products]="femmeShoes"/>
    <app-product-slider title="Men's denim" [products]="hommeDenim"/>
    <app-product-slider title="Men's JEANS" [products]="hommePantalon"/>
    <app-product-slider title="Girl's dresses" [products]="filletteRobe"/>
    <app-product-slider title="Boy's JEANS" [products]="garconPantalon"/>

  </div>
</div>
